*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(130, 205, 208);
}
#wrapper{
    background-color: #b1dfe0;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
footer{
    text-align: center;
    background-color: rgb(160, 205, 208);
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}
nav{
    text-align: center;
    padding: 1em;
    background-color: rgb(130, 205, 208);
}
nav a{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    display: inline-block;
    border: 3px inset transparent;
    padding: .75em 1em;
}
nav a:hover{
    border: 3px inset black;
}
label{
    float: left;
    display: block;
    text-align: right;
    font-weight: bold;
    width: 10em;
    padding-right: 1em;
}
input, textarea{
    display: block;
    margin-bottom: 2em;
}
#mySubmit{
    margin-left: 12em;
}
img{
    width: 100%;
}
.home{
    text-align: center;
}
main{
    padding: 0 2em;
}
form{
    padding: 3em;
}
#wrappertable{
    background-image: url(../images/project/computer.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
table, th, tr, td{
    border: 1px solid white;
    border-collapse: collapse;
}
table{
    background-color: white;
    margin: 80px auto;
    box-shadow: 0 10px 60px rgba(0,0,0,0,.9);
}
th, tr, td{
    padding: 20px;
}
caption{
    background-image: url(../images/project/computerboard.jpg);
    height: 200px;
    padding: 2em;
    color: white;
    font-size: 40px;
}
tr:nth-child(even){
    background-color: lightblue;
}
td.active, td:hover{
    color: white;
    background-color: green;
    cursor: grab;
}
